html
	head.muh-meta
	body
		Muh-top
			Muh-header
				Logo
				Title
				Navigation
					.home
					.profile
						.about
						.friends
						.threads
							.logs
							.chats
							.drawings
					.draw
					.chat
					.about
		Muh-middle

		Muh-bottom

		Muh-scripts
			script(type="text/javascript" src="/bundle.js" charset="utf-8")