mixin mobile-header
	.mobile-header.visible-xs.hidden-sm
		.roh
			.col-xs-11
				.nav-menu(ng-controller="MobileNavCtrl as ctrl")
					+triangle-up.hide
					.txt-center.font-lg {{ctrl.pageTitle}}
					+triangle-down.hide
			.col-xs-1
				+hamburger-icon

mixin header()
	.header&attributes(attributes)
		+mobile-header
		+normal-header
mixin normal-header()
	.normal-header.container-fluid&attributes(attributes)
    .row
      .col-sm-6#owner
        +svg-background
        +header-list
mixin header-list
  .row
    for i in ['HOME', 'RESUME', 'DEMOS']
      .col-sm-4
        .text=i
mixin svg-background
  .svg-wave-beam(ng-controller="WaveBeamCtrl as ctrl")&attributes(attributes)
  	svg.abs-width(viewBox="0 0 1200 100" width="100%" height="100px" preserveAspectRatio="none")
    	path.one(d=m)
  	svg.abs-width.reflect-y(viewBox="0 0 1200 100" width="100%" height="100px" preserveAspectRatio="none")
    	path.four(d=m)

mixin mywebsite
	body(ng-app="my-website")
		+header
		+body(init-state="home", ng-controller='BodyCtrl as body')
			+my-homepage(ng-show= " body.page === 'home' ")
			+my-resume(ng-show=" body.page === 'resume' ")
			+my-demos(ng-show=" body.page === 'demos' ")

mixin hamburger-icon
	div
mixin my-homepage()
	.homepage&attributes(attributes)
		|My name is Chris Hafley
mixin body
	div&attributes(attributes)
		block