include ../global.pug
include ./contact-buttons.pug

mixin resume
	#resume
		+contact-info.high
		.resume-flow.low
			.my-education
				.section-heading-text.uppercase.dense.relative
					+a-path('{{paths.headingBg()}}', false).abs-cover
					.relative.txt-center|EDUCATION

			.my-experiences(ng-repeat="employment in resume.experience")
				|{{employment.name}}
			.my-projects(ng-repeat="project in resume.projects")
				|{{project.name}}
+resume