.clicked
	// border: 5px solid red
.no-click
	pointer-events: none
.collapsing
	> *
		transition: opacity $fast
		opacity: 0
=resume
	#resume
		+my-contact-info
		+resume-flow


=the-texts
	.title-text

	.subtitle-text

	.side-text
=my-contact-info
	.my-contact-info
		overflow-x: visible 
		transition: opacity $fast, transform $fast
		+bottom-triangle-height
		.extra-triangle
			transition: opacity $fast, transform $fast
			&.clicked
			+bottom-triangle-height($mult: 1)
		> *
			height: 90%
			width: 50%
			display: inline-block
		path
			fill: $SILVER
		.contact-info
			margin: 0 2.5%
			bottom: 25%
		.icon
			+bottom-triangle-height(font-size, 0.40)
	&.collapsing .my-contact-info
		+translate(0, -100%)
		z-index: -1000
=resume-flow
	.resume-flow
		padding-top: 3em

