@import ./contact-buttons.sass
.clicked
	// border: 5px solid red
.no-click
	pointer-events: none
.collapsing
	> *
		opacity: 0
.collapsing, .collapse
	> *
		transition: opacity $fast
=resume
	#resume
		+my-contact-info
		+resume-flow
			+the-texts


=the-texts
	.text
		margin: 10px 10%
	.section-heading-text
		font-size: 3rem
		color: currentColor
		path
			fill: darken($BLACK, 5%)
			stroke-width: 0
	.main-text
		font-size: 2.5rem
		color: currentColor
		path
			fill: $WHITE
			stroke-width: 3px
			stroke: currentColor
	.sub-text
		font-size: 2rem
	.side-text
		font-size: 2rem
	
=resume-flow
	.resume-flow
		padding-top: 2em
		@content