include ../global.pug
include ../triangle/
include ./body.pug
-
	var x=`[
				['email', 'hafley66@gmail.com', 'fa-envelope-o'], 
				['phone', '330-324-4867', 'fa-phone']
				]`

mixin the-content()
	.the-content.low.relative&attributes(attributes)
		.content
			block
		+rsvg.tri.wide
			+triangle-D.no-stroke.cc-fill
mixin the-toggle
	.cc-parent.the-toggle.relative.cc-bord-sm
		.roh.white-on-black
			.col-sm-8.col-xs-10
				.cc-text.relative.form-name.txt-center.uppercase.font-xl.flat-line.no-highlight
					.matrix
						.roh
							.col-xs-12.main-text.relative.dense
								.marg-sm|Chris Hafley
							.col-xs-12.sub-text.font-md-rem.flat-line-rem
								.marg-sm|Software Engineer
			.col-sm-4.col-xs-2
				+contact-bars

mixin build
	.My-Resume.relative.dim-cover.container
		+the-toggle
		+the-content.cc-bord-sm.bord-no-top
			+my-resume
mixin contact-bars
	.contact-bars.white.font-md.padd-xs
		.bar.black.flat-line(ng-repeat=`type in ` + x, class="{{type[0]}}-bar")
			.roh.contact-info.white-bg.marg-xs
				.col-sm-2.col-xs-12.txt-center
					i.icon.fa(class="{{type[2]}}", aria-hidden="true")
				.col-sm-10.hidden-xs
					.txt-center.cc.bord-sm-left.padd-xs-left.robo.dense {{type[1]}}
+build