include ../global.pug
include ./Text.pug
include ./Resume.pug
include ./About.pug

mixin Contentler
	#contentler.as-Content
		+ContentPage

mixin ContentPage
	+Resume
	+About
	+Demos

mixin Demos
	//- 
