$NavLink-FontSize: 2em
$NavSvgPath-StrokeWidth: 3px
$NavLink-Rising-Speed: 0.9s ease
$NavSvgPath-Speed: 0.3s ease
=Navler
	#Navler.as-Nav
		+NavLink-Init
		+NavLink-Active
		+NavLink-Active-Hover

=NavLink-Init
	+NavLink
		+NavText
		+NavSvg

=NavLink
	.NavLink
		+Relative
		margin: 5px 10px
		transition: transform $NavLink-Rising-Speed, color $slow
		@content

=NavText
	.NavText
		font-size: $NavLink-FontSize
		padding: 1em 15px
		+txt-center
		+dense
		+uppercase
		+no-select
		+pointer
		+white

=NavSvg
	.NavSvg
		+AbsCover
		+Low(1)
	.NavSvgPath
		transition: d $NavSvgPath-Speed, fill $NavSvgPath-Speed
		+stroke($NavSvgPath-StrokeWidth, $WHITE)
		fill: $BLACK

=NavLink-Active
	.NavLink.active
		+Translate(0, -10%)
		.NavSvgPath
			+CCFill

=NavLink-Active-Hover
	.NavLink.active:hover
		.NavSvgPath
			stroke: currentColor
