mixin Resume
	#resume.collapse.in
		.roh
			.col-md-8
				+ResumeExperience
				+ResumeProjects
			.col-md-4
				+ResumeEducation
				+ResumeSkillGroups

mixin ResumeEducation
	.ResumeEducation.roh
		+_SectionColumn(true, 'EDUCATION', "ResumeEducationLoop")
			each school in resume.education
				.loop
					+MainText(school.name)
					+SubText
						=school.degree
						br
						=school.graduated

mixin ResumeExperience
	.ResumeExperience.roh
		+_SectionColumn(true, 'WORK HISTORY', "ResumeExperienceLoop")
			each job in resume.jobs
				.loop
					+MainText(job.name)
					+SubText
						=job.position
						br
						.ResumeDate=`${job.startShort} to ${job.endShort}`
					ul.a-list
						each point in job.highlights
							li.black
								=point

mixin ResumeProjects
	.ResumeProjects.roh
		+_SectionColumn(true, 'PROJECTS', "ResumeProjectsLoop")
				each project in resume.projects
					.loop
						+MainText(project.name)
						.ResumeProjectDescription=project.description

mixin ResumeSkillGroups
	.ResumeSkillGroups.roh&attributes(attributes)
		+_SectionColumn(true, 'SKILLS', 'ResumeSkillGroupsLoop')
			each skillGroup in resume.skills
				.loop
					+MainText(skillGroup.name)
					ul.a-list
						each skill in skillGroup.skills
							li.ResumeSkillsLoop
								=skill