=Translate($x:0, $y:0, $origin: null)
  transform: translate($x, $y) 
  @if($origin)
    transform-origin: $origin

=Translate3($x:0, $y: 0, $z: 0, $origin: null)
  transform: translate3d($x, $y, $z) 
    @if($origin)
      transform-origin: $origin

=Scale($x:1, $origin: null)
  transform: scale($x)
  @if($origin)
    transform-origin: $origin

=Rotate($deg:0, $origin: null) 
  transform: rotate($deg)
  @if($origin)
    transform-origin: $origin
  @content

=Show
  opacity: 1
=Fade
  opacity: 0

=TranslateDown($v: 100%)
  +translate(0, $v)
=TranslateUp($v: 100%)
  +translate(0, -1 * $v)

=NoScaleY
  +scale($y: 0)
=NoScaleX
  +scale($x: 0)

=AboutCenter
  transform-origin: center
=ReflectX
  transform: scale(-1, 1)
=ReflectY
  +scale(1, -1)

=Preserve3D
  transform-style: preserve-3d