=margin($y: null, $x: null, $all: null)
  +shorthand('margin', $y, $x)
=padding($y: null, $x: null)
  +shorthand('padding', $y, $x)
=border-width($y: null, $x: null)
  +shorthand('border-width', $y, $x)

=border($size: $bord-xs, $color: black)
  border: $size solid $color


=make-padd-y-child($gutters: $gutters-px)
  @each $name, $length in $gutters
    .padd-y-child-#{$name}
      > * 
        +padding($y: $length)
=make-marg-y-child($gutters: $gutters-px)
  @each $name, $length in $gutters
    .marg-y-child-#{$name}
      > * 
        +margin($y: $length)

.pstn-r-child > *
  position: relative

=shorthand($prop: margin, $y: null, $x: null)
  @if($y)
    +shorthand-y($prop, $value: $y)
  @else if($x)
    +shorthand-x($prop, $value: $x)
=shorthand-x($prop, $value: null)
  @if($x)
    @if(length($x) > 1)
      #{$prop}-left: nth($value, 1)
      #{$prop}-right: nth($value, 2)
    @else 
      #{$prop}-left: $value
      #{$prop}-right: $value
=shorthand-y($prop, $value: null)
  @if($value)
    @if(length($value) > 1)
      #{$prop}-top: nth($value, 1)
      #{$prop}-bottom: nth($value, 2)
    @else 
      #{$prop}-top: $value
      #{$prop}-bottom: $value

.collapse-child-margins:before, .collapse-child-margins:after
  content: ' '
  display: table

=make-rules-from-map($attribute, $map, $rule-pre, $rule-post: '')
  @each $name, $value in $map
    @if($rule-post != '')
      #{$rule-pre}-#{$name}-#{$rule-post}
        #{$attribute}: $value
    @else
      #{$rule-pre}-#{$name}
        #{$attribute}: $value
+make-rules-from-map("padding", $margin-sizes, '.padd')
.p-sm, .padd-sm
  padding: 10px
.p-sm-rel, .padd-sm-rem
  padding: 1rem
.p-md, .padd-md
  padding: 15px
.p-md-rel, .padd-md-rem
  padding: 1.5rem
.p-xs
  padding: 5px
.bord-no-top, .b-n-u
  border-top-width: 0 !important
.b-n-b
  border-bottom-width: 0 
.marg-xs
  margin: 5px
.marg-sm
  margin: 10px
.over-hidden
  overflow: hidden
.no-height
  height: 0
.flow-in
  transition: max-height $fast ease
  max-height: 0
  overflow: hidden
.cc.bord-sm-right
  border-right: $bord-sm solid currentColor
.cc.bord-sm-left
  border-left: $bord-sm solid currentColor
.padd-xs-left
  padding-left: 5px
.padd-xs-right
  padding-right: 5px