
.abs 
  position: absolute

=abs-cover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0

.abs-cover
  +abs-cover

.dim-cover 
  width: 100%
  height: 100%

=dim($w: 100px, $h: 100px) 
  width: $w
  height: $h

.relative 
  position: relative

=abs-center 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=square($dim: 100%)
  height: $dim
  width: $dim

@function approximateSq($num, $approx) 
  $root : (( $num / $approx ) + $approx) / 2
  @return $root


@function sqrt($num) 
  $root: 0
  $testRoot : 0
  $upperBounds : round($num / 2) + 1 //never need over half the main number. Add one just to be sure!
  $loops : $upperBounds
  @for $test from 2 through $upperBounds
    $sq : $test * $test
    @if $sq <= $num 
      $testRoot : $test
  $root : (approximateSq($num, $testRoot))
  
  @return $root


