
.abs 
  position: absolute

=_abs-helper($order) 
  @if ($order == null)
    top: 0
    left: 0
  @else if(length($order) == 4)
    top: nth($order, 1)
    right: nth($order, 2)
    bottom: nth($order, 3)
    left: nth($order, 4)
  @else if (length($order) == 2)
    $y: nth($order, 1)
    $x: nth($order, 2)
    +_abs-helper($y $x $y $x)
  @else if (length($order) == 3)
    $top: nth($order, 1)
    $x: nth($order, 2)
    $bottom: nth($order, 3)
    +_abs-helper($top $x $bottom $x)
  @else if (length($order) == 1)
    $a: nth($order, 1)
    +_abs-helper($a $a $a $a)

=abs($order: null)
  position: absolute
  +_abs-helper($order)

=abs-alt($t: 0, $l: 0, $b: 9000, $r: 9000)
  position: absolute
  @if ($t != 9000)
    top: $t
  @if ($r != 9000)
    right: $r 
  @if ($b != 9000)
    bottom: $b
  @if ($l != 9000)
    left: $l
=abs-cover
  +abs(0 0 0 0)

.abs-cover
  +abs-cover

=dim($w: 100px, $h: 100px) 
  width: $w
  height: $h

.dim-cover 
  +dim(100%, 100%)


.relative 
  position: relative

=abs-center 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=square($dim: 100%)
  +dim($dim, $dim)

=center-to-origin
  +translate(-50%, -50%)
=push-halfway-left
  +translate(-50%, 0)
=push-halfway-up
  +translate(0, -50%)

=bottom-on-top()
  bottom: 100%
=top-on-bottom()
  top: 100%
=left-on-middle()
  left: 50%
=right-on-middle()
  right: 50%
=top-on-middle()
  top: 50%

=center-on-center()
  position: absolute
  +top-on-middle
  +left-on-middle
  +center-to-origin

.vertical-center
  top: 50%
  +translate($y: -50%)

.low
  z-index: -1
.lower
  z-index: -2
.lowest
  z-index: -3
.high
  z-index: 1
.higher
  z-index: 2
.highest
  z-index: 3

svg
  overflow: visible !important


.above
  +bottom-on-top

.below
  +top-on-bottom

.abs-center
  +center-on-center

.abs-height
  position: absolute
  top: 0
  bottom: 0
.abs-width
  position: absolute
  left: 0
  right: 0

.wide
  width: 100%

.align-bottom
  bottom: 0
.align-top
  top: 0
.abs-init
  position: absolute
  top: 0
  left: 0
.float-left
  float: left
=clearfix
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both