path, rect, circle
  stroke-width: $bord-sm
  fill: white
  stroke: currentColor
.no-stroke 
  stroke-width: 0
.swap-color
  fill: currentColor
  stroke: white
.blanket
  fill: white
  stroke: white
.rsvg
	overflow: visible !important
	+will-move-gpu
	position: absolute
.cc-fill
  fill: currentColor
.cc-stroke
  stroke: currentColor
.svg-group
  +will-move-gpu