include ../global.pug
include ./header.pug
include ./titler.pug
include ./contentler.pug

mixin build
	+THE-HEADER
	+redoodler


mixin redoodler
	#body.relative(class="{{header.active}}")
		+titler
		+contentler

mixin a-path(pathString)
	+fit-svg&attributes(attributes)
		path(relative-d=pathString)


+build