include ../global.pug
include ./header.pug
include ./titler.pug
include ./contentler.pug

mixin build
	div
		svg(width=0 height=0 xmlns='http://www.w3.org/2000/svg')
			filter(width='200%' height='200%')#dropshadow
				feGaussianBlur(in='SourceAlpha', stddeviation='3')
				feOffset(dx='2', dy='5', result='offsetblur')
				feComponentTransfer
					feFuncA(type='linear', slope='0.5')
				femerge
					femergenode
					femergenode(in='SourceGraphic')
		+THE-HEADER
		+redoodler

mixin redoodler
	#body.relative(class="{{header.active}}")
		+titler
		+contentler



+build