include ../global.pug
include ./header.pug
include ./titler.pug
include ./contentler.pug

mixin build
	div
		//- +navler
		//- +titler
		//- +contactler
		//- +bodyler

		+THE-HEADER
		+redoodler

mixin redoodler
	#body.relative(class="{{header.active}}")
		+titler
		+contentler

+build