mixin contentler
	#contentler.relative.lower
		#main
			+home-ler
			resume-page(ng-if="header.active === 'resume'")
			+demos-ler
		+a-triangle
			+a-path('{{paths.triangleDown(tween.T)}}')(filter="url(#dropshadow)")


mixin home-ler
	home-page#Home
mixin resume-ler
	resume-page#Resume
mixin demos-ler
	demos-page#Demos