mixin contentler
	#contentler.relative.lower
		#main
			.black.txt-center|HELLO WORLD
			+home-ler
			my-resume
			+demos-ler
		+a-triangle
			+a-path('{{paths.triangleDown(tween.T)}}')


mixin home-ler
	home-page#Home
mixin resume-ler
	resume-page#Resume
mixin demos-ler
	demos-page#Demos