@import tools/vars
@import tools/breakpoints
@import tools/box-model
@import tools/transforms
@import tools/layout
@import tools/colors
@import tools/text
@import tools/svg
@import bg-moving-triangle/.sass
@import header/old/.sass
@import header/.sass
@import resume/old/.sass


* 
  box-sizing: border-box
body 
  font-family: 'Roboto', sans-serif

.foreground
  z-index: 100

.new-stacking-context
  opacity: 0.99

+make-padd-y-child()
+make-marg-y-child()

.tester
  background: $BLACK
  position: fixed
  top: 25vh
  left: 25vw
  height: 50vh
  width: 50vw
  +BREAK('lg')
    height: 100vh
    top: 0
  path
    stroke: lightblue
    stroke-width: 15px
    stroke-linecap: round
  &:after
    content: ' '
    width: 100px
    height: 1000px
    position: absolute
    background-color: $SILVER