@import tools/vars
@import tools/text
@import tools/colors
@import tools/transforms
@import tools/layout
@import tools/box-model

* 
  box-sizing: border-box
body 
  font-family: 'Roboto', sans-serif


.foreground
  z-index: 100

.new-stacking-context
  opacity: 0.99

+make-padd-y-child()
+make-marg-y-child()