include ../../common.pug

.login-card
	.button.login
		+ResponsiveSVG.triangle
			path(d="M 0 0, H 100, V 100, Z")
		span Login
	.button.register
		+ResponsiveSVG.triangle
			path(d="M 0 0, V 100, H 100, Z")
		span Register