include ../../common.pug

-var downTriangle = "M 40 0, H 60, L 50 100, Z"
-var upTriangle ="M 40 100, H 60, L 50 0, Z"


mixin Triangle-Button
	.triangle-button
		+ResponsiveSVG.triangle.triangle-up
			path(d=upTriangle)
		+ResponsiveSVG.triangle.triangle-down
			path(d=downTriangle)

.login-card
	.button.login
		+Triangle-Button
		span Login
	.button.register
		+Triangle-Button
		span Register


mixin Triangle( one, two, three )
	+ResponsiveSVG